@use '../abstracts/variables' as variable;
@use 'sass:map';
@use 'sass:math';

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, 12));
    max-width: math.percentage(math.div($i, 12));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

@for $i from 1 through 20 {
  .w-#{$i * 5} {
    width: math.percentage(math.div($i * 5, 100));
  }

  .h-#{$i * 5} {
    height: math.percentage(math.div($i * 5, 100));
  }
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.items-stretch { align-items: stretch; }
.items-baseline { align-items: baseline; }

.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.d-flex { display: flex; }
.d-inline {display: inline;}
.d-block {display: block;}

